<div class="bg-light min-vh-100 py-4">

<div class="container mt-4">

    <!-- Navbar de navegación -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light rounded shadow-sm mb-4">
      <div class="container-fluid justify-content-center">
        <div class="navbar-nav">
          <button class="btn mx-2" [ngClass]="tituloTabla === 'Clientes' ? 'btn-primary' : 'btn-outline-primary'" (click)="getAllClientes()">Clientes</button>
          <button class="btn mx-2"  [ngClass]="tituloTabla === 'Productos' ? 'btn-primary' : 'btn-outline-primary'"(click)="getAllProductos()">Productos</button>
          <button class="btn mx-2"  [ngClass]="tituloTabla === 'Pedidos' ? 'btn-primary' : 'btn-outline-primary'"(click)="getAllPedidos()">Pedidos</button>
        </div>
      </div>
    </nav>
  
    <!-- Título y Buscador -->
    <div class="row justify-content-center mb-3">
      <div class="col-md-10 text-center">
        <h2 class="mb-3">{{ tituloTabla }}</h2>
  
        <input 
          type="text"
          class="form-control mb-4"
          placeholder="Buscar por nombre..."
          [(ngModel)]="busquedaNombre"
          (input)="filtrarPorNombre()"
        />
      </div>
    </div>
  
    <!-- Tabla -->
    <div class="row justify-content-center">
      <div class="col-md-10">
        <app-table 
          [headers]="headers" 
          [headersTexto]="headersTexto" 
          [rows]="rowsPaginados"
          [tableClasses]="'table-striped table-bordered text-center'">
        </app-table>
      </div>
    </div>

    <div class="row justify-content-center mt-4">
        <div class="col-md-10 d-flex justify-content-between">
          <button 
            class="btn btn-primary" 
            [disabled]="paginaActual === 1"
            (click)="paginaAnterior()">
            Anterior
          </button>

          <div class="text-center">
            Página {{ paginaActual }} de {{ totalPaginas }}

            <div class="d-flex justify-content-end mt-2">
                <button class="btn btn-primary" (click)="abrirModal()">
                    Añadir {{ tituloTabla.slice(0, -1) }} <!-- Cliente, Producto, Pedido -->
                  </button>              </div>
          </div>
      
          <button 
            class="btn btn btn-primary" 
            [disabled]="paginaActual === totalPaginas"
            (click)="paginaSiguiente()">
            Siguiente
          </button>
        </div>
  
  </div>

</div>

<!-- Modal -->
<div class="modal fade show" tabindex="-1" role="dialog" [ngClass]="{ 'd-block': mostrarModal }" style="background: rgba(0,0,0,0.5);" *ngIf="mostrarModal">
    <div class="modal-dialog">
      <div class="modal-content p-4">
  
        <div class="modal-header">
          <h5 class="modal-title">Nuevo {{ tituloTabla.slice(0, -1) }}</h5>
          <button type="button" class="btn-close" aria-label="Close" (click)="cerrarModal()"></button>
        </div>
  
        <div class="modal-body">
  
          <!-- Formulario para Clientes -->
          <div *ngIf="tituloTabla === 'Clientes'">
            <div class="mb-3">
              <label>Nombre</label>
              <input type="text" class="form-control" [(ngModel)]="nuevoCliente.nombre">
            </div>
            <div class="mb-3">
              <label>Fecha de nacimiento</label>
              <input type="date" class="form-control" [(ngModel)]="nuevoCliente.fecha_nacimiento">
            </div>
            <div class="mb-3">
              <label>Email</label>
              <input type="email" class="form-control" [(ngModel)]="nuevoCliente.email">
            </div>
            <div class="mb-3">
              <label>Teléfono</label>
              <input type="number" class="form-control" [(ngModel)]="nuevoCliente.telefono">
            </div>
          </div>
  
          <!-- Formulario para Productos -->
          <div *ngIf="tituloTabla === 'Productos'">
            <div class="mb-3">
              <label>Nombre del producto</label>
              <input type="text" class="form-control" [(ngModel)]="nuevoProducto.nombre">
            </div>
            <div class="mb-3">
              <label>Precio</label>
              <input type="number" class="form-control" [(ngModel)]="nuevoProducto.precio">
            </div>
            <div class="mb-3">
              <label>Descripción</label>
              <input type="text" class="form-control" [(ngModel)]="nuevoProducto.descripcion">
            </div>
          </div>
  
          <!-- Formulario para Pedidos -->
          <div *ngIf="tituloTabla === 'Pedidos'">
            <div class="mb-3">
              <label>Número de pedido</label>
              <input type="number" class="form-control" [(ngModel)]="nuevoPedido.num_pedido">
            </div>
            <div class="mb-3">
              <label>Importe</label>
              <input type="number" class="form-control" [(ngModel)]="nuevoPedido.importe">
            </div>
            <div class="mb-3">
              <label>Cantidad de productos</label>
              <input type="number" class="form-control" [(ngModel)]="nuevoPedido.cantidad_productos">
            </div>
            <div class="mb-3">
              <label>Fecha</label>
              <input type="date" class="form-control" [(ngModel)]="nuevoPedido.fecha">
            </div>
            <div class="mb-3">
              <label>Nombre del cliente</label>
              <input type="text" class="form-control" [(ngModel)]="nuevoPedido.nombre_cliente">
            </div>
          </div>
  
        </div>
  
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="cerrarModal()">Cancelar</button>
          <button type="button" class="btn btn-primary" (click)="crearEntidad()" [disabled]="!formularioValido()">Guardar</button>
        </div>
  
      </div>
    </div>
  </div>
  
